apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-assistant
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://pajikos.github.io/home-assistant-helm-chart/
    chart: home-assistant
    targetRevision: 0.3.35
    helm:
      values: |
        configuration:
          enabled: true
          forceInit: false
          trusted_proxies:
            - 10.42.0.0/16
            - 10.43.0.0/16
            - 127.0.0.1
            - ::1

        # initContainers:
        #   - name: init-hacs
        #     image: 
        #     command: ["bash", "-c", "cd /config && wget -O - https://get.hacs.xyz | bash -"]
        #     volumeMounts:
        #         - mountPath: /config
        #           name: home-assistant
    
        service:
          type: ClusterIP
          port: 8123

        probes:
          liveness:
            enabled: true
            initialDelaySeconds: 60
          readiness:
            enabled: true
            initialDelaySeconds: 60
          startup:
            enabled: true
            failureThreshold: 30
            periodSeconds: 10

        ingress:
          enabled: false
          external: true
          className: istio
          annotations:
            kubernetes.io/ingress.class: istio
          hosts:
            - host: home-assistant.localhost
              paths:
                - path: /
                  pathType: Prefix

        persistence:
          config:
            enabled: true
            accessMode: ReadWriteOnce
            size: 10Gi

        addons:
          codeserver:
            enabled: true
            image:
              tag: "4.19.1"
            ingress:
              enabled: false
              className: istio
              annotations:
                kubernetes.io/ingress.class: istio
              hosts:
                - host: hass-code.localhost
                  paths:
                    - path: /
                      pathType: Prefix

  destination:
    server: https://kubernetes.default.svc
    namespace: home-assistant

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
